.item{
    margin: 0.5em;
    padding: 5px auto;
    display: flex;
    background-color: white;
    border-radius: 15px;
    text-decoration: none;
}

.item-content{
    margin: 5px 10px 5px 10px;
    width: 80%;
    display: flex;
    color: black;
    font-size: 1.1em;
    text-align: left;
    align-items: center;    
    padding: 0;
    
}

.Icon.Icon-delete{
    display: flex;    
    border: none;
    width: 10%;
    padding: auto;
    color: #ff4d4d;
    margin: 5px;
    padding: 0;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    transform: rotate(0deg);
}

.Icon.Icon-check{
    display: flex;    
    border: none;
    width: 10%;
    padding: auto;
    color: #61df6c;
    margin: 5px;
    padding: 0;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
    transform: rotate(0deg);
}